body {
  font-family: sans-serif;
  margin: 2em;
  background: #faf9f8;
}
#tabs {
  margin-bottom: 1em;
}
.tab-btn {
  padding: 0.5em 1em;
  margin-right: 0.4em;
  cursor: pointer;
}
.tab {
  display: none;
}
.tab[hidden] {
  display: none;
}
.tab:not([hidden]) {
  display: block;
}
input[type="number"] {
  width: 5em;
}
#completionMarksArea label,
#secretsArea label,
#itemsArea label,
#challengesArea label {
  display: inline-block;
  min-width: 200px;
  margin-bottom: 3px;
}
#completionMarksArea,
#secretsArea,
#itemsArea,
#challengesArea {
  margin: 1em 0 1em 0;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0.5em;
  background: #f7f7f7;
  font-size: 0.95em;
}